@model OcenSzamke.Models.Restaurant

<div class="details-container">
    <div class="transparent-box">
        <h2 class="text-custom">Szczegóły restauracji</h2>

        <h4 class="text-custom">Restauracja</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2 text-custom">
                Nazwa
            </dt>
            <dd class="col-sm-10 text-custom">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2 text-custom">
                Adres
            </dt>
            <dd class="col-sm-10 text-custom">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-2 text-custom">
                Średnia ocena
            </dt>
            <dd class="col-sm-10 text-custom">
                @Html.DisplayFor(model => model.AverageRating)
            </dd>
        </dl>

        <h4 class="text-custom">Recenzje</h4>
        <table class="table table-hover table-custom">
            <thead class="thead-custom">
                <tr>
                    <th>Ocena</th>
                    <th>Komentarz</th>
                    <th>Data</th>
                    <th>Autor</th> <!-- Nowa kolumna dla autora -->
                </tr>
            </thead>
            <tbody>
                @foreach (var review in Model.Reviews)
                {
                    <tr>
                        <td>@review.Rating</td>
                        <td>@review.Comment</td>
                        <td>@review.DatePosted.ToString("dd-MM-yyyy")</td>
                        <td>@review.Author</td> <!-- Wyświetlanie autora -->
                    </tr>
                }
            </tbody>
        </table>

        <a asp-action="Index" class="btn btn-custom">Powrót do listy</a>
    </div>
</div>
