@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="register-container">
    <div class="register-form">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Stwórz swoje konto!</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="bartosz@przykladny.pl" />
                <label asp-for="Input.Email">E-mail</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Hasło</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Powtórz hasło</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Rejestracja</button>
        </form>
        <div class="login-info">
            <p>Masz już konto? <a asp-area="Identity" asp-page="/Account/Login">Zaloguj się!</a></p>
        </div>
    </div>
</div>

<div class="external-login-section">
    <h3>Użyj innej usługi, aby się zarejestrować.</h3>
    <hr />
    @{
        if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {
            <div>
                <p>
                    Brak zewnętrznych usług uwierzytelniania. Zobacz ten <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                        artykuł
                        na temat konfigurowania tej aplikacji ASP.NET w celu obsługi logowania za pomocą zewnętrznych usług
                    </a>.
                </p>
            </div>
        }
        else
        {
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in Model.ExternalLogins!)
                        {
                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Zaloguj się za pomocą @provider.DisplayName">@provider.DisplayName</button>
                        }
                    </p>
                </div>
            </form>
        }
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
